
@media screen and (max-width:760px)
{
    .place__image
    {
        position: relative;
        left:-16px;
        width:calc(100% + 27px); /*вычла ширину скролла*/
        margin-bottom:24px;
    }
}
@media screen and (min-width:760px) 
{
    .place__image
    {
        width:100%;
    }

}
